body {
	background-color: rgb(245, 245, 245);
}

body,
html {
	scroll-behavior: smooth;
}
.wrapper {
	width: 100%;
	height: 100%;
}

.header .tit {
	background-color: #fff;
	height: 50px;
	display: flex;
}

.header .tit img {
	height: 50px;
}

.header .tit .tit-list {
	width: 1200px;
	height: 100%;
	margin: 0 409px 0 260px;
	display: flex;
	justify-content: space-between;

}

.tit-list .left .left-list {
	display: flex;
	line-height: 50px;
	position: relative;
}

.tit-list .left .left-list li:last-child a {
	color: red;
}

.tit-list .left .left-list li:last-child img {
	width: 233px;
	height: 124px;
	position: absolute;
	left: 290px;
	top: 43px;
	z-index: 999;
	display: none;
}

.tit-list .left .left-list li:last-child:hover img {
	display: block;
}

.tit-list .left .left-list a {
	color: #8d8d8d;
	font-size: 15px;
	margin-right: 20px;
}

.tit-list .right {
	display: flex;
}

.tit-list .right .right-list {
	display: flex;
	line-height: 50px;
}

.tit-list .right .right-list a {
	margin: 0 10px;
	color: #000;
}

.tit-list .right .phone {
	height: 100%;
	line-height: 50px;
	margin-top: 3px;
}

.tit-list .right img {
	height: 23px;
	width: 23px;
}

/* 导航 */
.nav {
	height: 70px;
	background-color: #eee;
}

.nav-wrapper {
	display: flex;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	justify-content: space-around;
}

.nav .nav-list {
	display: flex;
	line-height: 70px;
}

.nav-list a {
	color: #3a3a3a;
	font-size: 20px;
	margin: 0 10px;
	font-weight: 550;
}

.search {
	display: flex;
	align-self: center;
	width: 270px;
	height: 36px;
	background-color: #eaeaea;
	border-radius: 30px;
}

.search input {
	display: flex;
	align-self: center;
	outline: none;
	width: 220px;
	height: 36px;
	font-size: 12px;
	background-color: transparent;
	border: none;
	color: #999;
	padding: 0 0 0 17px;
}

.search span {
	align-self: center;
	background-image: url(../images/index/sousuo.png);
	height: 20px;
	width: 20px;
	display: inline-block;
}
/* 详情 */
.detail {
	background-color: #fff;
}
.nav-detail {
	width: 100%;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #DADADA;
}
.n-wrapper {
	width: 1200px;
	margin: 0 auto;
	font-size: 12px;
	color: #535353;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 40px;
	/* background-color: #fff; */
}
.nav-detail a {
	color: #535353;
}
.n-wrapper .right {
	position: relative;
	width: 99px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	vertical-align: middle;
}
.n-wrapper .right span {
	margin-left: 36px;
	font-size: 12px;
	vertical-align: middle;
	color: #fff;
	position: relative;
	z-index: 1;
}
.n-wrapper .right img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.n-wrapper .right .d-img {
	display: none;
}
.n-wrapper .right:hover .d-img {
	display: block;
}
.detail-wrapper {
	display: flex;
	background-color: #fff;
	position: relative;
	width: 1200px;
	margin: 0 auto 0;
	height: auto;
	padding-bottom: 40px;
}
.detail-wrapper .left {
	width: 520px;
	/* height: 520px; */
}
.detail-wrapper .left>img {
	display: none;
	width: 520px;
	height: 520px;
}
.detail-wrapper .left img.active {
	display: block;
}
.detail-wrapper .list {
	position: relative;
    overflow: hidden;
    width: 530px;
    margin-top: 20px;
}
.detail-wrapper .list>.left-button {
	line-height: 86px;
	/* opacity: 0.3; */
	position: absolute;
	/* display: inline-block; */
	width: 24px;
	height: 86px;
	top: -27px;
	cursor: pointer;
}
.detail-wrapper .list>.right-button {
	line-height: 86px;
	/* opacity: 0.3; */
	position: absolute;
	display: inline-block;
	width: 24px;
	height: 86px;
	top: 0;
	right: 3px;
	cursor: pointer;
}
.detail-wrapper .list>.right-button span {
	position: absolute;
	font-size: 20px;
	width: 12px;
	height: 20px;
	top: 0;
	bottom: 0;
	left: 10px;
	color: #eee;
	/* right: 0; */
	/* margin: auto; */
}
.detail-wrapper .list>.left-button span {
	position: absolute;
	font-size: 20px;
	width: 12px;
	height: 20px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #eee;
}
.detail-wrapper .s-list ul {
	/* display: flex; */
	width: 10000px;
	height: 88px;
	position: absolute;
	left: 0;
	top: 0;
	transition: .5s .2s all ease;
}
.detail-wrapper .s-list {
	height: 88px;
	width: 481px;
	margin-left: 20px;
	overflow: hidden;
	background-color: #ffffff;
	position: relative;
	left: 8px;
}
.detail-wrapper .s-list ul li {
	float: left;
	width: 86px;
	height: 86px;
	display: block;
	border: 1px solid #dcdcdc;
	cursor: pointer;
	margin-right: 10px;
}
.detail-wrapper .s-list ul li a {
	border: 0;
	width: 84px;
	height: 84px;
}
.detail-wrapper .s-list ul li a img {
	width: 84px;
	height: 84px;
}
.good_code {
	color: #A5A5A5;
	font-size: 11px;
	margin-top: 10px;
}
.action-pic {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.good-do a {
	color: #333;
}
.ficon {
	width: 12px;
	height: 12px;
	display: inline-block;
	background-image: url(../images/detail/small-icons.png);
	background-position: -55px -43px;
}
.sicon {
	/* padding-top: 10px; */
	width: 12px;
	height: 9px;
	background-image: url(../images/detail/small-icons.png);
	background-repeat: no-repeat;
	background-position: -39px -44px;
	display: inline-block;
}
.s-text,.f-text {
	font-size: 12px;
}
.detail-wrapper .right {
	position: relative;
	margin-top: 36px;
	width: 642px;
	/* float: right; */
	color: #000000;
}
.detail-wrapper .right .center {
	background-color: rgb(249, 249, 249);
	padding-left: 15px;
}
.detail-wrapper .right h1 {
	font-size: 22px;
	font-weight: normal;
}
.detail-wrapper .right .brief {
	color: #A2A2A2;
	font-size: 14px;
	margin-top: 8px;
	line-height: 22px;
	word-break: break-all;
	margin-bottom: 20px;
	
}
/* 价格 */
.price-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
/* 收藏 */
.p-text {
	color: #f00;
}
.p-list {
	font-weight: bold;
	font-size: 28px;
	color: #E1140A;
}
.p-list em {
	font-size: 12px;
	color: #E1140A;
	font-weight: bold;
	font-style: normal;
}
/* 活动 */
.active-place-helper {
	display: flex;
	background-color: rgb(249, 249, 249);
}
.active-content-left {
	margin-right: 25px;
}
.down-gap {
	margin-bottom: 14px;
}
.down-gap a {
	color: #f00;
	font-size: 18px;
	font-weight: bold;
}
.delivery-box {
	margin-bottom: 14px;
}
.delivery-box a {
	color: #000;
	font-size: 14px;
}
.item-wrapper {
	padding-bottom: 25px;
}
.item-wrapper a {
	color: #f00;
	font-size: 14px;
}
/* 评论 */
.sale {
	margin-top: 10px;
	border-left: 1px solid #E0E0E0;
	padding: 0 22px;
}
.sale p {
	font-size: 12px;
	color: #A5A5A5;
}
/* 分期 */
.business-staff-container,.count {
	margin: 15px 0 0px 20px;
	color: #434242;
	display: flex;
}
.business-title {
	width: 58px;
	margin-right: 20px;
	line-height: 25px;
}
.business-detail {
	margin-right: 10px;
	height: 30px;
	line-height: 30px;
	display: flex;
}
.business-left,.business-right {
	position: relative;
	width: 218px;
	height: 19px;
	border: 1px solid #DADADA;
	padding: 2px;
	margin-right: 15px;
}
.installment-icon {
	position: relative;
	top: -1px;
	line-height: 15px;
	padding: 2px;
	margin-left: 8px;
}
.installment-icon img {
	display: inline-block;
	width: 18px;
	vertical-align: middle;
}
.installment-icon>span {
	display: inline-block;
	vertical-align: middle;
	padding: 0px 8px 0px 6px;
	border-right: 1px solid #DADADA;
	color: #000000;
	font-weight: bold;
}
.installment-info {
	display: inline-block;
}
.installment-info span {
	vertical-align: middle;
	
}
.installment-info i {
	display: inline-block;
	position: absolute;
	top: 3px;
	right: 5px;
	width: 15px;
	height: 15px;
	background-image: url(../images/detail/arrow-group.png);
	background-position: -46px 0px;
	background-repeat: no-repeat;
}
.business-left ul {
	display: none;
	padding: 6px 15px 0px 15px;
	position: absolute;
	width: 91%;
	top: 22px;
	left: -10px;
	border: 1px solid #DADADA;
	z-index: 1;
	background-color: #FFFFFF;
}
.business-left ul li {
	padding: 8px 0;
	cursor: pointer;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}
.business-left ul span{
	font-size: 14px;
	margin-bottom: 5px;
	display: inline-block;
}
.business-left ul p {
	font-size: 12px;
	color: rgb(111, 113, 112);
}
.business-right ul {
	    display: none;
		left: -10px;
	    padding: 6px 15px 0px 15px;
	    position: absolute;
	    width: 91%;
	    top: 22px;
	    border: 1px solid #DADADA;
	    z-index: 1;
	    background-color: #FFFFFF;
}
.business-right ul li {
	padding: 8px 0;
	cursor: pointer;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}
.business-right ul span{
	font-size: 14px;
	margin-bottom: 5px;
	display: inline-block;
}
.business-right ul p {
	font-size: 12px;
	color: rgb(111, 113, 112);
}
.business-left .installment-icon:hover ul {
	display: block;
}
.business-right .installment-icon:hover ul {
	display: block;
}
.count-wrapper {
	/* width: 92px; */
	border: 1px solid #DADADA;
	display: inline-block;
	line-height: 24px;
}
.btn-decrease {
	display: inline-block;
	width: 20px;
	height: 24px;
	line-height: 24px;
	border-right: 1px solid #DADADA;
	text-align: center;
	cursor: pointer;
}
.number {
    width: 50px;
    border: none;
    text-align: center;
    vertical-align: middle;
}
.btn-increase {
	display: inline-block;
	width: 20px;
	height: 24px;
	line-height: 24px;
	border-left: 1px solid #DADADA;
	text-align: center;
	cursor: pointer;
}
.detail-wrapper .cart {
	margin: 15px 0 0px 90px;
	color: #434242;
}
.buy,.buy-cart {
	width: 130px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	color: #FFFFFF;
	background-color: #E1140A;
	text-align: center;
	font-size: 15px;
	margin-right: 10px;
	cursor: pointer;
	border: 0;
	outline: 0;
}
.toAppLoad {
	position: relative;
	margin-left: 98px;
	margin-top: 18px;
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 14px;
	color: #434242;
}
.toAppLoad span {
	color: #3E8DDD;
	margin: 0 3px;
	cursor: pointer;
	border-bottom: 1px solid #3E8DDD;
}
.toAppLoad span:hover+img {
	display: block;
} 
/* look */
.cnxh-wrap {
	position: relative;
	height: auto;
	background-color: #f6f7f8;
	margin-bottom: 5px;
}
.cnxh-title {
	position: relative;
	height: 46px;
	background-color: #FFFFFF;
	padding-top: 5px;
}
.cnxh-title p {
	font-size: 22px;
	color: #434242;
	letter-spacing: 0.17px;
	line-height: 46px;
	font-weight: bold;
	width: 1176px;
	margin: 0 auto;
}
.img-box {
	width: 1231px;
	margin: 0 auto;
	position: relative;
}
.image-detail {
	color: #333;
	margin: 0 7.5px;
	padding: 21px 0 18px;
	display: block;
	width: 223px;
	background-color: #FFFFFF;
	text-decoration: none;
	height: 266px;
	box-sizing: border-box;
	position: relative;
}
.image-detail:hover {
	box-shadow: 0 5px 10px silver;
}
.pro-img img {
	width: 153px;
	display: block;
	margin: 0 auto;
}
.name {
	line-height: 20px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	padding: 0 10px;
	box-sizing: border-box;
	color: #252525;
	margin-top: 3px;
}
.brief {
	margin: 2px 0 5px;
	font-size: 12px;
	text-align: center;
	color: #979797;
	letter-spacing: 0.17px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
	padding: 0 10px;
	box-sizing: border-box;
}
.image-detail .price i {
	margin-right: 5px;
	font-style: normal;
}
.image-detail .price {
	font-size: 14px;
	color: #e2231a;
	text-align: center;
	letter-spacing: 0.17px;
	height: 29px;
	line-height: 29px;
	font-weight: bold;
	position: absolute;
	bottom: 22px;
	left: 0;
	right: 0;
}
.swiper-container {
	width: 1191px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 24px;
}
.swiper-slide {
	width: 238.2px!important;
}
.swiper-button-prev {
	outline: none;
	left: 0;
	width: 16px;
	height: 61px;
	top: 47%;
	color: #4d4d4d;
	background: #eaebeb;
	line-height: 61px;
	text-align: center;
}
.swiper-button-next {
	outline: none;
	right: 0;
	width: 16px;
	height: 61px;
	top: 47%;
	background: #eaebeb;
	line-height: 61px;
	text-align: center;
}
.triangle-wrap {
	position: absolute;
	width: 8px;
	height: 10px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.triangle-left {
	border-top: 6px solid transparent;
	border-right: 8px solid #A5A5A5;
	border-bottom: 6px solid transparent;
}
.triangle-left1 {
	top: 0;
	left: 2px;
	position: absolute;
	width: 0;
	border-top: 6px solid transparent;
	border-right: 8px solid #eaebeb;
	border-bottom: 6px solid transparent;
}
.triangle-right {
	border-top: 6px solid transparent;
	border-left: 8px solid #A5A5A5;
	border-bottom: 6px solid transparent;
}
.triangle-right1 {
	top: 0;
	left: -2px;
	position: absolute;
	width: 0;
	border-top: 6px solid transparent;
	border-left: 8px solid #eaebeb;
	border-bottom: 6px solid transparent;
	
}
 /* .swiper-slide-active {
	 width: 238.2px!important;
 } */
.swiper-button-next:after {
    content: '';
}
.swiper-button-prev:after {
	content: '';
}
/* tab头部 */
.tab-container {
	background-color:  #F6F7F8;
	margin-bottom: 20px;
}
.tab-wrapper {
	height: 52px;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.tab-tit {
	width: 630px;
	line-height: 52px;
	font-size: 22px;
	color: #4A4949;
}
.tab-wrapper ul {
	display: flex;
	align-items: center;
}
.tab-wrapper li {
	padding-right: 40px;
	list-style: none;
	cursor: pointer;
	font-size: 14px;
}
.tab-wrapper li.active {
	color: #f00;
}
.tab-wrapper li:hover {
	color: #f00;
}
.tab-wrapper span {
	padding: 5px;
	background-color: #999999 !important;
	color: #ffffff !important;
}
.images {
	overflow: hidden;
	font-size: 0;
	margin-top: 20px;
}
.images p img {
	    display: block;
	    box-sizing: border-box;
	    width: 1920px;
	    /* margin: 0 auto; */
	    position: relative;
	    left: 50%;
	    margin-left: -960px;
}
/* stop */
.stop-wrapper {
	margin-top: 20px;
	background-color: #fff;
	height: 199px;
}

.stop {
	width: 1200px;
	margin: 0 auto;
}

.stop img {
	width: 1200px;
	height: 199px;
}

.footer-top {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 70px 0 70px 76px;
}

.footer-top li {
	display: flex;
	flex-direction: column;
}

.footer-top li .tit {
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 18px;
	font-weight: 600;
	color: #424242;

}

.footer-top li a {
	color: #757575;
	margin-bottom: 12px;
}

.footer-top li:last-child {
	width: 223px;
	border-left: 1px solid #ccc;
	padding-left: 58px;
	margin-left: 5px
}

.kf-phone h3 {
	font-size: 20px;
	letter-spacing: 0;
	text-align: left;
	color: #E1140A;
}

.kf-phone span {
	font-size: 12px;
	color: #757575;
	text-align: left;
	line-height: 25px;
}

.kf-phone a {
	background-image: url(../images/index/footer/footer.png);
	display: block;
	width: 139px;
	height: 36px;
}

.kf-phone a:hover {
	background-image: \url(../images/index/footer/footer%20h.png);
}

.footer-bottom {
	height: 47px;
	border-top: 1px solid #424141;
	background: #272727;
}

.footer-bottom-wrapper {
	width: 1200px;
	margin: auto;
	font-size: 12px;
	line-height: 46px;
	color: #757575;
	display: flex;
	justify-content: space-between;
}

.footer-bottom-wrapper a {
	color: #757575;
}

/* 右侧边栏 */
.sort {
	width: 50px;
	height: auto;
	z-index: 20;
	position: fixed;
	right: 16px;
	top: 150px;
	display: none;
}

.sort-list li>a:nth-child(2) {
	display: none;
}

.sort-list li>a>img {
	width: 50px;
}

.sort-list li:hover>a:nth-child(2) {
	display: block;
}

.sort-list li:hover>a:nth-child(1) {
	display: none;
}

.sort-list li:nth-child(1) div {
	position: absolute;
	right: 50px;
	top: 0;
}

.sort-list li:nth-child(2) div {
	position: absolute;
	right: 50px;
	top: 50px;
}

.sort-list li:nth-child(5) div {
	position: absolute;
	right: 50px;
	top: 250px;
}

.sort-list li:nth-child(6) div {
	position: absolute;
	right: 50px;
	top: 350px;
}

.sort-list li div a {
	display: none;
}

.sort-list li:hover div a:nth-child(1) {
	display: block;
}

.sort-list li div:hover a:nth-child(2) {
	display: block;
}

.sort-list li div:hover a:nth-child(1) {
	display: none;
}
.detail-wrapper .s-list ul li.active {
	border: 1px solid #f00;
}
/* 登录 */
.login-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000099;
	background: #000;
	filter: alpha(opacity=30);
	/* -moz-opacity: .3; */
	opacity: .3;
	display: none;
}

.login {
	position: fixed;
	width: 330px;
	height: auto;
	padding: 0 125px;
	left: 50%;
	top: 90px;
	margin-left: -290px;
	z-index: 10000100;
	background: #fff;
	display: none;
}

.login>a {
	position: absolute;
	right: -66px;
	top: -28px;
	z-index: 111111;
	width: 50px;
	height: 50px;
	background: url(../images/list/icon-close.png) center no-repeat;
}

.login .tit {
	margin-top: 60px;
	font-size: 30px;
	text-align: center;
	line-height: 30px;
}

.login-content .phone {
	width: 100%;
	margin-bottom: 14px;
	position: relative;
}

.login-content {
	margin-top: 38px;
}

.login-content .phone input {
	width: 258px;
	border: 1px solid #d6d6d6;
	height: 44px;
	line-height: 44px;
	padding-left: 20px;
	padding-right: 50px;
	font-size: 14px;
	color: #424242;
}

.login-content .code {
	display: flex;
}

.login-content .code input {
	border: 1px solid #d6d6d6;
	height: 44px;
	line-height: 44px;
	padding-left: 20px;
	padding-right: 50px;
	font-size: 14px;
	color: #8c8c8c;
	width: 147px;
}

.login-content .code button {
	width: 110px;
	height: 44px;
	text-align: center;
	background-color: #f7f7f7;
	color: #3680c1;
	border: 1px solid #d6d6d6;
	height: 46px;
	line-height: 46px;
	border-left: 0;
	font-size: 14px
}
.login-content .user {
	display: none;
}
.login-content .user .user-name {
	margin-bottom: 14px;
}
.login-content .user input {
	width: 258px;
	border: 1px solid #d6d6d6;
	height: 44px;
	line-height: 44px;
	padding-left: 20px;
	padding-right: 50px;
	font-size: 14px;
	color: #424242;
}

.login_mains {
	margin: 16px 0;
}

.login-content .btn-login {
	display: block;
	height: 50px;
	line-height: 50px;
	width: 330px;
	background-color: #e22319;
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin: 10px 0 0;
}

.login-toggle {
	margin: 16px 0;
	display: flex;
	justify-content: space-between;
}

.login-to a {
	color: #ef1c22;
	font-size: 14px;
	line-height: 14px;
}

.login-to .log-code {
	display: none;
}

.login-other a {
	font-size: 14px;
	line-height: 14px;
	color: #757575;
}

.cooperation {
	width: 330px;
	height: 90px;
	margin-top: 40px;
}

.cooperation .title {
	text-align: center;
	font-size: 14px;
	color: #8c8c8c;
	line-height: 14px;
	height: 14px;
	display: flex;
	justify-content: space-between;
}

.cooperation .title span {
	width: 123px;
	height: 1px;
	background-color: #a4a3a3;
	float: left;
	margin-top: 6px;
}

.cooperation .title em {
	font-style: normal;
}

.cooperation .other {
	margin-top: 15px;
	padding: 0 60px;
	display: flex;
	justify-content: space-around;
}

.cooperation .other a {
	display: flex;
	justify-content: space-around;
}

.cooperation .other i {
	width: 31px;
	height: 31px;
	vertical-align: middle;
}

.cooperation .other .qq {
	background-image: url(../images/index/login/qq.png);
}

.cooperation .other .qq:hover {
	background-image: url(../images/index/login/qq-2.png);
}

.cooperation .other .wb {
	background-image: url(../images/index/login/weibo.png);
}

.cooperation .other .wb:hover {
	background-image: url(../images/index/login/weibo-2.png);
}

.cooperation .other .wx {
	background-image: url(../images/index/login/weixin.png);
}

.cooperation .other .wx:hover {
	background-image: url(../images/index/login/weixin-2.png);
}

.cooperation .other .zfb {
	background-image: url(../images/index/login/zhifubao.png);
}

.cooperation .other .zfb:hover {
	background-image: url(../images/index/login/zhifubao-2.png);
}

.login_scan {
	display: none;
}
.login_switch {
	position: absolute;
	top: 5px;
	right: 5px;
}

.login_switch .login_scan_tip {
	width: 80px;
	height: 80px;
	background: url(../images/index/login/qrcode.png) center no-repeat;
	background-size: cover;
	opacity: .8;
	display: block;
}
.login_switch .login_scan_tip:hover {
	opacity: 1;
}
.login_switch .login_pp_tip:hover {
	opacity: 1;
}
.login_switch .login_pp_tip {
	width: 63px;
	height: 59px;
	background: url(../images/index/login/pc.png) center no-repeat;
	display: none;
	background-size: cover;
	opacity: .8;
}
.login_scan {
	width: 330px;
	margin: 23px auto;
	padding-bottom: 20px;
}
.qrcode_desc {
	width: 100%;
	margin: 0 auto;
	height: 14px;
}
.qrcode_desc p {
	line-height: 14px;
	text-align: center;
	font-size: 14px;
	color: #424242;
}
.qrcode_desc em {
	padding: 0 5px;
	font-weight: 700;
	color: #424242;
	font-style: normal;
}
.qrcode_main {
	width: 250px;
	height: 250px;
	margin: 30px auto 0;
}
/* 登录后页面 */
.ul-r ul {
	display: flex;
	align-items: center;
	position: relative;
}
.user .user1-name {
	display: inline-block;
	width: 80px;
	overflow: hidden;
	display: inline-block;
	text-align: right;
	white-space: nowrap;
	text-overflow: ellipsis
}
.user1 {
	display: flex;
	position: relative;
	box-sizing: border-box;
	line-height: 48px;
	height: 50px;
	padding-top: 2px;
	cursor: pointer;
	vertical-align: middle;
	align-self: center;
}
.ul-r .user1 img {
	width: 20px;
	height: 20px;
	margin-top: 15px;
	display: inline-block;
}
.myCenter {
	display: none;
	/* height: 0; */
	position: absolute;
	width: 425px;
	left: -218px;
	top: 50px;
	border-radius: 10px;
	box-sizing: border-box;
	background: url(https://p2.lefile.cn/product/adminweb/2018/12/29/5c462e88-07b5-4776-848b-00bc62f5d8a0.png) no-repeat;
	overflow: hidden;
	transition: all .2s;
	z-index: 10000102;
}
.ul-r .user1  .myCenter .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ul-r .user1  .myCenter .top a img {
	width: 60px;
	height: 60px;
	margin: 26px 18px 0 38px;
	border-radius: 50%;
}
.noName {
	font-size: 20px;
	color: #ad8953;
	width: 130px;
	height: 26px;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.user-vp {
	font-size: 14px;
	color: #ad8953;
}
.ul-r .user1  .myCenter .top .id a img {
	width: 20px;
	height: 20px;
	margin: 0;
}
.logout {
	
	font-size: 14px;
	color: #828282;
	border-bottom: 1px solid #828282;
	line-height: 20px;
	margin-right: 45px;
	margin-top: 32px;
	align-self: flex-start;
}
.id {
	display: flex;
	flex-direction: column;
}
.mid  {
	margin-top: 35px;
	margin-left: 23px;
}
.mid ul {
	display: flex;
	justify-content: space-around;
}
.mid ul li {
	text-align: center;
}
.mid h3 {
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin: 0
}
.mid span {
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 16px;
}
.myCenter .bottom {
	width: 425px;
	height: 130px;
}
.myCenter .bottom ul {
	display: flex;
	justify-content: space-around;
}
.myCenter .bottom ul li a {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.myCenter .bottom ul li a img {
	height: 58px;
	width: 58px;
	vertical-align: middle;
}
.myCenter .bottom ul li a span {
	color: #767676;
	font-size: 16px;
	text-align: center;
}
.ul-r ul .cart {
	position: relative;
	align-self: center;
	vertical-align: middle;
}
.ul-r ul .cart  a img {
	margin: 16px 0px 15px 20px;
	width: 20px;
	height: 20px;
	display: block;
	vertical-align: middle;
	align-self: center;
}
.ul-r ul .cart  a span {
	    display: inline-block;
	background: red;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 2px;
	left: 40px;
	border-radius: 50% 50% 50% 0%;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	color: #fff;
}