body {
	background-color: rgb(245, 245, 245);
}
.wrapper {
	width: 100%;	 
	height: 100%;
}
body,
html {
	scroll-behavior: smooth;
}

.header .tit {
	background-color: #fff;
	height: 50px;
	display: flex;
	width: 100%;
}

.header .tit img {
	height: 50px;
}

.header .tit .tit-list {
	background-color: #fff;
	min-width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

}

.tit-list .left .left-list {
	display: flex;
	line-height: 50px;
	position: relative;
}

.tit-list .left .left-list li:last-child a {
	color: red;
}

.tit-list .left .left-list li:last-child img {
	width: 233px;
	height: 124px;
	position: absolute;
	left: 290px;
	top: 43px;
	z-index: 999;
	display: none;
}

.tit-list .left .left-list li:last-child:hover img {
	display: block;
}

.tit-list .left .left-list a {
	color: #8d8d8d;
	font-size: 15px;
	margin-right: 20px;
}

.tit-list .right {
	display: flex;
}

.tit-list .right .right-list {
	display: flex;
	line-height: 50px;
}

.tit-list .right .right-list a {
	margin: 0 10px;
	color: #000;
}

.tit-list .right .phone {
	height: 100%;
	line-height: 50px;
	margin-top: 3px;
}

.tit-list .right img {
	height: 23px;
	width: 23px;
}

/* 导航 */
.nav {
	height: 70px;
	background-color: #eee;
}

.nav-wrapper {
	background-color: #eee;
	display: flex;
	min-width: 1200px;
	height: 100%;
	margin: 0 auto;
	justify-content: space-around;
}

.nav .nav-list {
	display: flex;
	line-height: 70px;
}

.nav-list a {
	color: #3a3a3a;
	font-size: 20px;
	margin: 0 10px;
	font-weight: 550;
}

.search {
	display: flex;
	align-self: center;
	width: 270px;
	height: 36px;
	background-color: #eaeaea;
	border-radius: 30px;
}

.search input {
	display: flex;
	align-self: center;
	outline: none;
	width: 220px;
	height: 36px;
	font-size: 12px;
	background-color: transparent;
	border: none;
	color: #999;
	padding: 0 0 0 17px;
}

.search span {
	align-self: center;
	background-image: url(../images/index/sousuo.png);
	height: 20px;
	width: 20px;
	display: inline-block;
}


.stackSearch {
	height: 78px;
	background-color: #fff;
}

.stackSearch ul {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.stackSearch ul li {
	height: 77px;
	line-height: 77px;
	margin-right: 4px;
	font-size: 14px;
	color: #616161;
	text-align: center;
	position: relative
}

.stackSearch ul li {
	border-bottom: 1px solid transparent;
}

.stackSearch ul li a {
	color: #333;
	height: 100%;
	padding-left: 36px;
}

.stackSearch ul li:nth-child(1) a i {
	background: url(../images/list/stack/lenovoPC_home.png) 0 0 no-repeat;
	width: 33px;
	height: 33px;
	display: inline-block;
	vertical-align: middle;
	background-size: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}

.stackSearch ul li:nth-child(1):hover i {
	background: url(../images/list/stack/lenovoPC_home_active.png) 0 0 no-repeat;
	width: 33px;
	height: 33px;
	display: inline-block;
	vertical-align: middle;
	background-size: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}

.stackSearch ul li:hover {
	border-bottom: 1px solid rgb(57, 87, 130);

}

.stackSearch ul li:hover span {
	color: rgb(57, 87, 130);
}

.stackSearch ul li:nth-child(2) a i {
	background: url(../images/list/stack/lenovoPC_commercial.png) 0 0 no-repeat;
	width: 33px;
	height: 33px;
	display: inline-block;
	vertical-align: middle;
	background-size: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}

.stackSearch ul li:nth-child(2):hover a i {
	background: url(../images/list/stack/stack_commercial_active.png) 0 0 no-repeat;
	width: 33px;
	height: 33px;
	display: inline-block;
	vertical-align: middle;
	background-size: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}

.stackSearch ul li:nth-child(3) a i {
	background: url(../images/list/stack/stack_dataCenter.png) 0 0 no-repeat;
	width: 33px;
	height: 33px;
	display: inline-block;
	vertical-align: middle;
	background-size: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}

.stackSearch ul li:nth-child(3):hover a i {
	background: url(../images/list/stack/stack_dataCenter_active.png) 0 0 no-repeat;
	width: 33px;
	height: 33px;
	display: inline-block;
	vertical-align: middle;
	background-size: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}

.stackSearch ul li:nth-child(4) a i {
	background: url(../images/list/stack/stack_community.png) 0 0 no-repeat;
	width: 33px;
	height: 33px;
	display: inline-block;
	vertical-align: middle;
	background-size: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}

.stackSearch ul li:nth-child(4):hover a i {
	background: url(../images/list/stack/stack_community_active.png) 0 0 no-repeat;
	width: 33px;
	height: 33px;
	display: inline-block;
	vertical-align: middle;
	background-size: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}

.stackSearch ul li:nth-child(5) a i {
	background: url(../images/list/stack/stack_brand.png) 0 0 no-repeat;
	width: 33px;
	height: 33px;
	display: inline-block;
	vertical-align: middle;
	background-size: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}

.stackSearch ul li:nth-child(5):hover a i {
	background: url(../images/list/stack/stack_brand_active.png) 0 0 no-repeat;
	width: 33px;
	height: 33px;
	display: inline-block;
	vertical-align: middle;
	background-size: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}

.stackSearch ul li:nth-child(6) a i {
	background: url(../images/list/stack/stack_store.png) 0 0 no-repeat;
	width: 33px;
	height: 33px;
	display: inline-block;
	vertical-align: middle;
	background-size: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}

.stackSearch ul li:nth-child(6):hover a i {
	background: url(../images/list/stack/stack_store_active.png) 0 0 no-repeat;
	width: 33px;
	height: 33px;
	display: inline-block;
	vertical-align: middle;
	background-size: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}

.resultbar {
	width: 100%;
	height: auto;
	line-height: 48px;
	margin: 0 auto;
	font-size: 12px;
}

.resultBox {
	width: 100%;
	background-color: #f5f5f5;
}
.headerUl {
	margin: 0 auto;
	width: 1200px;
}

.allresult {
	width: 8.5%;
	color: #000000;
	padding-left: 10px;
	display: inline-block
}

.allresult a {
	color: #000;
}

.smallNav {
	width: auto;
	height: 100%;
	display: inline-block;
	text-align: left;
	position: relative;
	padding-right: 13px;
	background: url(../images/list/arr-right.png) 0 0 no-repeat;
	background-position-x: right;
	background-position-y: center;
}

.smallNav:nth-child(5) {
	background: none;
}

.smallNav span {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	height: 30px;
	line-height: 30px;
	border: 1px solid #dadada;
	padding: 0 10px;
	background-color: #fff;
	cursor: pointer;
	position: static;
}

.smallNav i {
	background: url(../images/up-arr.png) 0 0 no-repeat;
	background-position-x: 96%;
	background-position-y: 12px;
	width: 20px;
	height: 20px;
	display: inline-block;

}

.smallNav span:hover+.selectUl {
	display: block;
}

.selectUl {
	position: absolute;
	z-index: 500;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	width: 270px;
	margin-top: -10px;
	line-height: 32px;
	text-align: left;
	padding: 10px;
	display: none;
}

.selectUl li {
	display: inline-block;
}

.selectUl a {
	margin-right: 20px;
	color: #000000;
	font-size: 13px
}

.productNum {
	float: right;
	height: 48px;
	text-align: center;
}

.productNum .num {
	color: red;
	font-size: 16px;
	margin-left: 5px;
	margin-right: 5px;
	position: static;
}
.footUl-wrapper {
	background-color: #fff;
	/* height: 80px; */
}
.footUl {
	width: 1200px;
	margin: 1px auto;
	background-color: #fff;
	position: relative;
	border-bottom: 1px solid #e5e5e5;
}

.footUl .tip {
	width: 12%;
	color: #000000;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	float: left;
	font-size: 13px;
	margin-right: 16px
}
.footUl ul {
	cursor: pointer;
	margin-bottom: 0;
	width: 80%;
	float: left;
	height: auto;
	line-height: 48px;
	overflow: hidden
}
.footUl ul li {
	width: auto;
	height: 100%;
	display: inline-block;
	text-align: center;
	text-align: left;
	margin-right: 50px;
}
.footUl ul li a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
.duoxuan {
	float: right;
	width: 3.5%;
	text-align: left;
	background: url(../images/up-arr.png) 0 0 no-repeat;
	background-position-x: 98%;
	background-position-y: 20px;
	cursor: pointer;
}
.duoxuan:hover {
	color: #f00;
}
.duoxuanBox {
	display: none;
	cursor: pointer;
	margin-bottom: 0;
	width: 80%;
	/* height: 50px; */
	line-height: normal;
	/* float: left; */
	height: auto;
	line-height: 48px;
	overflow: hidden;
}
.duoxuanBox span {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	position: static;
	margin-top: 14px;
	margin-right: 4px;
	background: url(../images/list/check.jpg) 0 0 no-repeat;
	background-position-x: 0;
	background-position-y: 0;
}
.btnGroup {
	width: 100%;
	height: 34px;
	line-height: 30px;
	text-align: center;
	display: block;
	/* float: left; */
	margin-bottom: 20px;
}
.btnGroup input {
	width: 54px;
	height: 24px;
	line-height: 25px;
	border: none;
	border-radius: 4px;
	position: static;
	padding: 0;
}
.btn-ok {
	background-color: #e1140a;
	color: #fff;
}

.product-detail {
	    min-width: 1230px;
	    width: 100%;
	    height: auto;
	    margin-top: 24px;
	    background-color: #f5f5f5;
}
.headerNav {
	    width: 1200px;
	    height: 98px;
	    margin: 0 auto;
}
.headerNav ul {
	    margin-top: 40px;
	    height: 98px
}
.headerNav ul li {
	    float: left;
	    width: auto;
	    text-align: center;
	    height: 18px;
	    border-right: 1px solid #bebebe;
	    margin-top: 38px;
	    cursor: pointer;
	    font-weight: normal;
	    color: #505050;
	    padding: 0 15px;
}
.headerNav ul li.searchbox {
	border-right: none;
}
.headerNav ul .searchbox  input{
	    width: 62px;
	    height: 22px;
	    line-height: 23px;
	    padding: 0 5px;
	    font-weight: normal;
	    vertical-align: middle;
	    border-radius: 2px;
	    border: 1px solid #dadada;
}
em {
	font-style: normal;
}
.btn {
	height: 26px;
	background-color: rgb(221, 221, 221);
	text-align: center;
}
 .headerNav ul li.way {
	    width: 370px;
	    border-right: none;
	    float: right;
	    text-align: right;
	    padding-right: 0;
		border-right: none;
}
 .headerNav ul .way span {
	    width: auto;
	    height: 20px;
	    display: inline-block;
	    background: url(../images/list/check.jpg) 0 0 no-repeat;
	    padding-left: 22px;
	    cursor: pointer;
	    font-weight: normal;
	    text-align: center;
	    margin-left: 6px;
}
/* 商品列表区 */
.product-list {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	font-size: 14px;
	overflow: hidden;
	padding-bottom: 20px;
	display: flex;
	/* justify-content: space-between; */
	flex-wrap: wrap;
}
.product-list li {
	width: 250px;
	height: 375px;
	background-color: #fff;
	margin-right: 10px;
	margin-bottom: 14px;
	vertical-align: top;
	padding: 10px 20px 22px;
	position: relative;
	overflow: hidden;
}
.product-list li a {
	display: flex;
	flex-direction: column;
	color: #000;
}
.product-list li img {
	width: 160px;
	height: 160px;
	line-height: 160px;
	text-align: center;
	margin: auto;
}
.product-list .imgA {
	width: 250px;
	height: 160px;
	display: block;
	text-align: center;
	cursor: pointer;
	margin: 0 auto;
	overflow: hidden;
}
.product-list .lebalDiv {
	    margin-top: 5px;
	    height: 50px;
	    line-height: 50px;
	    border-bottom: 1px solid #ebebeb;
	    overflow: hidden;
}
.product-list .lebalDiv i {
	display: inline-block;
	width: 32px;
	height: 16px;
	margin-left: 5px;
	margin-top: 10px;

}
.product-list .name {
	line-height: 17px;
	height: 36px;
	overflow: hidden;
	margin-top: 14px;
	text-align: left;
}
.product-list .name a {
	color: #424242;
	font-size: 12px;
}
.product-list .brief {
	height: 36px;
	line-height: 17px;
	overflow: hidden;
	margin-top: 5px;
	text-align: left;
	color: #cfcfcf;
}
.product-list .brief a {
	color: #cfcfcf;
	font-size: 12px;
}
.product-list .price {
	font-size: 14px;
	font-weight: bold;
	color: #2d2d2d;
	height: 36px;
	line-height: 36px;
}
.pages {
	text-align: center;
	height: 152px;
	line-height: 152px;
	width: 1230px;
	margin: 0 auto;
}
.pages ul {
	font-size: 18px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
}
.pages a {
	    display: inline-block;
	    line-height: 30px;
	    padding: 0;
	    /* color: #000; */
	    width: 30px;
	    height: 30px;
	    background-color: #fff;
	    /* border: 1px solid red; */
	    margin: 0 8px;
	    border-radius: 2px;
	    background: #FFFFFF;
	    border: 1px solid #B0B0B0;
	    font-size: 14px;
	    color: #757575;
}
.pages ul  li.nextPage a {
	    width: 64px;
	    height: 32px;
	    line-height: 32px;
	    background: rgba(0,0,0,0.20);
	    color: #fff;
	    border: none;
}
/* 右侧边栏 */
.sort {
	width: 50px;
	height: auto;
	z-index: 20;
	position: fixed;
	right: 16px;
	top: 150px;
	display: none;
}

.sort-list li>a:nth-child(2) {
	display: none;
}

.sort-list li>a>img {
	width: 50px;
}

.sort-list li:hover>a:nth-child(2) {
	display: block;
}

.sort-list li:hover>a:nth-child(1) {
	display: none;
}

.sort-list li:nth-child(1) div {
	position: absolute;
	right: 50px;
	top: 0;
}

.sort-list li:nth-child(2) div {
	position: absolute;
	right: 50px;
	top: 50px;
}

.sort-list li:nth-child(5) div {
	position: absolute;
	right: 50px;
	top: 250px;
}

.sort-list li:nth-child(6) div {
	position: absolute;
	right: 50px;
	top: 350px;
}

.sort-list li div a {
	display: none;
}

.sort-list li:hover div a:nth-child(1) {
	display: block;
}

.sort-list li div:hover a:nth-child(2) {
	display: block;
}

.sort-list li div:hover a:nth-child(1) {
	display: none;
}
/* stop */
.stop-wrapper {
	margin-top: 20px;
	background-color: #fff;
	height: 199px;
}

.stop {
	width: 1200px;
	margin: 0 auto;
}

.stop img {
	width: 1200px;
	height: 199px;
}

.footer-top {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 70px 0 70px 76px;
}

.footer-top li {
	display: flex;
	flex-direction: column;
}

.footer-top li .tit {
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 18px;
	font-weight: 600;
	color: #424242;

}

.footer-top li a {
	color: #757575;
	margin-bottom: 12px;
}

.footer-top li:last-child {
	width: 223px;
	border-left: 1px solid #ccc;
	padding-left: 58px;
	margin-left: 5px
}

.kf-phone h3 {
	font-size: 20px;
	letter-spacing: 0;
	text-align: left;
	color: #E1140A;
}

.kf-phone span {
	font-size: 12px;
	color: #757575;
	text-align: left;
	line-height: 25px;
}

.kf-phone a {
	background-image: url(../images/index/footer/footer.png);
	display: block;
	width: 139px;
	height: 36px;
}

.kf-phone a:hover {
	background-image: \url(../images/index/footer/footer%20h.png);
}

.footer-bottom {
	height: 47px;
	border-top: 1px solid #424141;
	background: #272727;
}

.footer-bottom-wrapper {
	width: 1200px;
	margin: auto;
	font-size: 12px;
	line-height: 46px;
	color: #757575;
	display: flex;
	justify-content: space-between;
}

.footer-bottom-wrapper a {
	color: #757575;
}
/* 登录 */
.login-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000099;
	background: #000;
	filter: alpha(opacity=30);
	/* -moz-opacity: .3; */
	opacity: .3;
	display: none;
}

.login {
	position: fixed;
	width: 330px;
	height: auto;
	padding: 0 125px;
	left: 50%;
	top: 90px;
	margin-left: -290px;
	z-index: 10000100;
	background: #fff;
	display: none;
}

.login>a {
	position: absolute;
	right: -66px;
	top: -28px;
	z-index: 111111;
	width: 50px;
	height: 50px;
	background: url(../images/list/icon-close.png) center no-repeat;
}

.login .tit {
	margin-top: 60px;
	font-size: 30px;
	text-align: center;
	line-height: 30px;
}

.login-content .phone {
	width: 100%;
	margin-bottom: 14px;
	position: relative;
}

.login-content {
	margin-top: 38px;
}

.login-content .phone input {
	width: 258px;
	border: 1px solid #d6d6d6;
	height: 44px;
	line-height: 44px;
	padding-left: 20px;
	padding-right: 50px;
	font-size: 14px;
	color: #424242;
}

.login-content .code {
	display: flex;
}

.login-content .code input {
	border: 1px solid #d6d6d6;
	height: 44px;
	line-height: 44px;
	padding-left: 20px;
	padding-right: 50px;
	font-size: 14px;
	color: #8c8c8c;
	width: 147px;
}

.login-content .code button {
	width: 110px;
	height: 44px;
	text-align: center;
	background-color: #f7f7f7;
	color: #3680c1;
	border: 1px solid #d6d6d6;
	height: 46px;
	line-height: 46px;
	border-left: 0;
	font-size: 14px
}
.login-content .user {
	display: none;
}
.login-content .user .user-name {
	margin-bottom: 14px;
}
.login-content .user input {
	width: 258px;
	border: 1px solid #d6d6d6;
	height: 44px;
	line-height: 44px;
	padding-left: 20px;
	padding-right: 50px;
	font-size: 14px;
	color: #424242;
}

.login_mains {
	margin: 16px 0;
}

.login-content .btn-login {
	display: block;
	height: 50px;
	line-height: 50px;
	width: 330px;
	background-color: #e22319;
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin: 10px 0 0;
}

.login-toggle {
	margin: 16px 0;
	display: flex;
	justify-content: space-between;
}

.login-to a {
	color: #ef1c22;
	font-size: 14px;
	line-height: 14px;
}

.login-to .log-code {
	display: none;
}

.login-other a {
	font-size: 14px;
	line-height: 14px;
	color: #757575;
}

.cooperation {
	width: 330px;
	height: 90px;
	margin-top: 40px;
}

.cooperation .title {
	text-align: center;
	font-size: 14px;
	color: #8c8c8c;
	line-height: 14px;
	height: 14px;
	display: flex;
	justify-content: space-between;
}

.cooperation .title span {
	width: 123px;
	height: 1px;
	background-color: #a4a3a3;
	float: left;
	margin-top: 6px;
}

.cooperation .title em {
	font-style: normal;
}

.cooperation .other {
	margin-top: 15px;
	padding: 0 60px;
	display: flex;
	justify-content: space-around;
}

.cooperation .other a {
	display: flex;
	justify-content: space-around;
}

.cooperation .other i {
	width: 31px;
	height: 31px;
	vertical-align: middle;
}

.cooperation .other .qq {
	background-image: url(../images/index/login/qq.png);
}

.cooperation .other .qq:hover {
	background-image: url(../images/index/login/qq-2.png);
}

.cooperation .other .wb {
	background-image: url(../images/index/login/weibo.png);
}

.cooperation .other .wb:hover {
	background-image: url(../images/index/login/weibo-2.png);
}

.cooperation .other .wx {
	background-image: url(../images/index/login/weixin.png);
}

.cooperation .other .wx:hover {
	background-image: url(../images/index/login/weixin-2.png);
}

.cooperation .other .zfb {
	background-image: url(../images/index/login/zhifubao.png);
}

.cooperation .other .zfb:hover {
	background-image: url(../images/index/login/zhifubao-2.png);
}

.login_scan {
	display: none;
}
.login_switch {
	position: absolute;
	top: 5px;
	right: 5px;
}

.login_switch .login_scan_tip {
	width: 80px;
	height: 80px;
	background: url(../images/index/login/qrcode.png) center no-repeat;
	background-size: cover;
	opacity: .8;
	display: block;
}
.login_switch .login_scan_tip:hover {
	opacity: 1;
}
.login_switch .login_pp_tip:hover {
	opacity: 1;
}
.login_switch .login_pp_tip {
	width: 63px;
	height: 59px;
	background: url(../images/index/login/pc.png) center no-repeat;
	display: none;
	background-size: cover;
	opacity: .8;
}
.login_scan {
	width: 330px;
	margin: 23px auto;
	padding-bottom: 20px;
}
.qrcode_desc {
	width: 100%;
	margin: 0 auto;
	height: 14px;
}
.qrcode_desc p {
	line-height: 14px;
	text-align: center;
	font-size: 14px;
	color: #424242;
}
.qrcode_desc em {
	padding: 0 5px;
	font-weight: 700;
	color: #424242;
	font-style: normal;
}
.qrcode_main {
	width: 250px;
	height: 250px;
	margin: 30px auto 0;
}
/* 登录后页面 */
.ul-r ul {
	display: flex;
	align-items: center;
	position: relative;
}
.user .user1-name {
	display: inline-block;
	width: 80px;
	overflow: hidden;
	display: inline-block;
	text-align: right;
	white-space: nowrap;
	text-overflow: ellipsis
}
.user1 {
	display: flex;
	position: relative;
	box-sizing: border-box;
	line-height: 48px;
	height: 50px;
	padding-top: 2px;
	cursor: pointer;
	vertical-align: middle;
	align-self: center;
}
.ul-r .user1 img {
	width: 20px;
	height: 20px;
	margin-top: 15px;
	display: inline-block;
}
.myCenter {
	display: none;
	/* height: 0; */
	position: absolute;
	width: 425px;
	left: -218px;
	top: 50px;
	border-radius: 10px;
	box-sizing: border-box;
	background: url(https://p2.lefile.cn/product/adminweb/2018/12/29/5c462e88-07b5-4776-848b-00bc62f5d8a0.png) no-repeat;
	overflow: hidden;
	transition: all .2s;
	z-index: 10000102;
}
.ul-r .user1  .myCenter .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ul-r .user1  .myCenter .top a img {
	width: 60px;
	height: 60px;
	margin: 26px 18px 0 38px;
	border-radius: 50%;
}
.noName {
	font-size: 20px;
	color: #ad8953;
	width: 130px;
	height: 26px;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.user-vp {
	font-size: 14px;
	color: #ad8953;
}
.ul-r .user1  .myCenter .top .id a img {
	width: 20px;
	height: 20px;
	margin: 0;
}
.logout {
	
	font-size: 14px;
	color: #828282;
	border-bottom: 1px solid #828282;
	line-height: 20px;
	margin-right: 45px;
	margin-top: 32px;
	align-self: flex-start;
}
.id {
	display: flex;
	flex-direction: column;
}
.mid  {
	margin-top: 35px;
	margin-left: 23px;
}
.mid ul {
	display: flex;
	justify-content: space-around;
}
.mid ul li {
	text-align: center;
}
.mid h3 {
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin: 0
}
.mid span {
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 16px;
}
.myCenter .bottom {
	width: 425px;
	height: 130px;
}
.myCenter .bottom ul {
	display: flex;
	justify-content: space-around;
}
.myCenter .bottom ul li a {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.myCenter .bottom ul li a img {
	height: 58px;
	width: 58px;
	vertical-align: middle;
}
.myCenter .bottom ul li a span {
	color: #767676;
	font-size: 16px;
	text-align: center;
}
.ul-r ul .cart {
	position: relative;
	align-self: center;
	vertical-align: middle;
}
.ul-r ul .cart  a img {
	margin: 16px 0px 15px 20px;
	width: 20px;
	height: 20px;
	display: block;
	vertical-align: middle;
	align-self: center;
}
.ul-r ul .cart  a span {
	    display: inline-block;
	background: red;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 2px;
	left: 40px;
	border-radius: 50% 50% 50% 0%;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	color: #fff;
}