* {
	margin: 0;
	padding: 0;
	
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.clearfix:after {
	content: '';
	width: 0;
	height: 0;
	clear: both;
	display: block;
}
input {
	outline: none;
}